.burstContainer {
	display: flex;
	flex-wrap: wrap;
	width: 75%;
	margin: 0 auto;
	padding-bottom: 25%;

	@include bp(bp-m) {
		width: 95%;
	}
}
.burstItem {
	width: 25%;
	align-self: flex-start;

	@include bp(bp-m) {
		width: 100%;
	}	
}
.burstItem h1 {
	color: #ffffff;
	padding-left: 10px;
}
.burstItem .burstName {
	color: #fff;
	background: #292d38;
	margin: 0;
	padding: 20px;
	font-weight: 300;
}
.burst {
	cursor: pointer;
	margin: 10px;
	color: #fff;
	background-color: transparent;
	border-radius: 8px;	
	border: 1px solid #2f2f2f;
}
.burst .burstImage {
	width: 100%;
}