.burstContainer {
	display: flex;
	flex-wrap: wrap;
	width: 75%;
	margin: 0 auto;
	padding-bottom: 25%;
}
.burstItem {
	width: 25%;
	align-self: flex-start;
}
.burstItem h1 {
	color: #ffffff;
	padding-left: 10px;
}
.burstItem .burstName {
	color: #000;
	background: #fff;
	margin: 0;
	padding: 20px;
}
.burst {
	cursor: pointer;
	margin: 2px;
	// padding: 10px;
	color: #fff;
	background-color: transparent;
	border-radius: 8px;	
	border: 1px solid #2f2f2f;
}
.burst .burstImage {
	width: 100%;
	max-width: 300px;
}