* {
	box-sizing: border-box;
}
body {
	background: #171a20;
	color: #ffffff;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 17px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
	font-smooth: always;
}
.masthead {
	text-align: center;
}
.masthead h1 {
	display: inline-block;
	padding-bottom: 10px;
	letter-spacing: 3px;
	width: auto;
	border-bottom: 1px solid #777777;
}
.message {
	text-align: center;
	font-size: 1.5rem;
}