* {
	box-sizing: border-box;
}
body {
	background: #272725;
	color: #ffffff;
	font-family: 'Scope One', Georgia, serif;
	font-size: 17px;
}
.masthead {
	text-align: center;
}
.masthead h1 {
	display: inline-block;
	padding-bottom: 10px;
	letter-spacing: 3px;
	width: auto;
	border-bottom: 1px solid #777777;
}
.message {
	text-align: center;
	font-size: 1.5rem;
}